* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* TITLES */
h1 {
    font-weight: 700;
    position: relative;
    width: fit-content;
}

h2 {
    text-align: center;
    position: relative;
    color: #333;
    text-transform: uppercase;
}

h2::before,
h2::after {
    content: '';
    background-color: #333;
    width: 30px;
    height: 4px;
    position: absolute;
}

h2::before {
    left: -70px;
    top: calc(50% - 2px);
}

h2::after {
    right: -70px;
    top: calc(50% - 2px);
}

h3 {
    font-weight: 400;
}

/* HEADER */
header > div {
    height: 100vh;
}

header > img {
    width: 100%;
    left: 0;
    top: 100;
}
/* SVG ZEPPELIN */
.home-page header img {
    position: absolute;
    width: 65%;
    height: auto;
    margin-top: -300px;
    right: 0px;
    max-width: 1000px;
    top: 300px;
}

.home-page header h1 {
    font-size: 3em;
}

.home-page header h3 {
    font-size: 1.3em;
}

@media screen and (max-width: 1400px) {
    .home-page header img {
        top: 330px;
    }
}

@media screen and (max-width: 1250px) {
    .home-page header img {
        top: 370px;
    }
}

@media screen and (max-width: 1050px) {
    .home-page header img {
        top: 420px;
    }
}

@media screen and (max-width: 920px) {
    .home-page header img {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        top: 450px;
    }
    .home-page header h1 {
        width: 100%;
        top: -70px;
        text-align: center;
    }
    .home-page header h3 {
        width: 100%;
        top: -70px;
        margin-left: -25px;
        text-align: center;
    }
}
@media screen and (max-width: 750px) {
    .home-page header img {
        top: 480px;
    }
}

@media screen and (max-width: 650px) {
    .home-page header img {
        top: 530px;
    }
    .home-page header h1,
    .home-page header h3 {
        top: -40px;
    }
}

@media screen and (max-width: 520px) {
    .home-page header img {
        top: 500px;
    }
    header > div {
        height: 440px;
    }
    .home-page header h1 {
        top: -60px;
    }
    .home-page header h3 {
        top: -80px;
    }
    .home-page header h1 {
        font-size: 2em;
    }
    .home-page header h3 {
        font-size: 1.1em;
        padding-left: 60px;
    }
}

@media screen and (max-width: 420px) {
    h2 {
        font-size: 1em;
    }
    h2::after {
        right: -35px;
        width: 25px;
    }
    h2::before {
        left: -35px;
        width: 25px;
    }
}

@media screen and (max-width: 350px) {
    .home-page header h3 {
        font-size: 1em;
    }
    header > div {
        height: 360px;
    }
    .home-page header img {
        top: 510px;
    }
}

.home-page header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.home-page header h1 {
    color: #b4e0ff;
    margin-top: 220px;
    letter-spacing: 1px;
    position: absolute;
    left: 5%;
    padding-right: 8%;
}

.home-page header h3 {
    color: #fff;
    margin-top: 280px;
    position: absolute;
    left: 5%;
    padding-right: 8%;
}

/* SECTION */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* ABOUT US */
@media (min-width: 700px) {
    .about-us div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-us .inverse img {
        order: 1;
    }

    .about-us img {
        min-width: 50%;
    }
}

@media (min-width: 1000px) {
    .about-us {
        padding: 10px 100px;
    }
}

/* REVIEW */
.reviews {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 450px;
    width: 100vw;
}

.reviews article {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    height: 350px;
    width: 300px;
    margin: 10px;
}

.reviews article > p {
    height: 250px;
    padding: 10px 30px;
    text-align: justify;
}

.reviews article .person {
    display: flex;
    align-items: center;
    height: 66px;
    border-top: 1px solid #ccc;
    padding: 0 10px;
}

.reviews article .person img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.reviews article .person p {
    margin: 5px 15px;
}

.reviews article .person span {
    color: #feca57;
}

.review-current {
    display: block;
    top: 0;
    left: calc(50vw - 150px);
}

.review-previous {
    display: block;
    top: 20px;
    left: calc(50vw - 500px);
}

.review-next {
    display: block;
    top: 20px;
    left: calc(50vw + 200px);
}

@media (max-width: 700px) {
    .review-previous,
    .review-next {
        display: block;
        opacity: 0;
    }
}

/* FOOTER */
footer {
    background-color: #3228c5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 700px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* ROUTES */
iframe {
    width: calc(100vw - 15px);
    min-height: 500px;
    border: none;
}

.routes-page main {
    margin-top: 122px;
}

.routes {
    display: flex;
    flex-direction: column;
}

.routes div {
    border-top: 1px solid #333;
    padding: 0 25px;
    width: 100%;
}

.routes div span {
    color: #feca57;
}

.routes {
    padding: 0;
}

@media (min-width: 1000px) {
    .routes-page main {
        display: flex;
    }

    .routes {
        min-width: 50vw;
        justify-content: flex-start;
    }

    .routes-page main,
    iframe {
        min-height: calc(100vh - 122px);
    }
}

/* MENU MOBILE */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(50, 40, 197, 1) 0%,
        rgba(10, 95, 223, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
nav > div {
    display: flex;
    width: 100%;
}

nav > div > ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: -50px;
    flex-direction: row;
}

nav > div > ul > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    margin-left: 40px;
    font-size: 1.1em;
    padding: 6px 12px;
    border-radius: 40px;
}
nav > div > ul > a:hover {
    background-color: #ffffff;
    color: #3228c5;
}

nav > div > img {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}

#menuToggle input {
    display: none;
}
@media screen and (max-width: 600px) {
    #menuToggle > img {
        margin-top: -72px;
        transform: translateX(46vw);
        margin-left: -80px;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        left: 25px;
        z-index: 1;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: rgba(10, 95, 223, 1);
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.45s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span:first-of-type {
        opacity: 1;
        background: #232323;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:first-of-type + span {
        opacity: 1;
        background: #232323;
        transform: rotate(-45deg) translate(-7px, 1px);
    }
    #menu {
        position: absolute;
        width: 50vw;
        top: 2px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 100vh;
        background: #ededed;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
        padding: 10px 0;
        margin-top: -450px;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
    nav > div > ul {
        flex-direction: column;
    }

    #menuToggle > ul > a {
        margin-bottom: 50px;
        margin-left: -10px;
    }
    nav {
        height: 75px;
    }
}
