* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* H2 */
h2 {
    text-align: center;
    position: relative;
    color: #333;
    text-transform: uppercase;
}

h2::before, h2::after {
    content: '';
    background-color: #333;
    width: 30px;
    height: 4px;
    position: absolute;
}

h2::before {
    left: -70px;
    top: calc(50% - 2px);
}

h2::after {
    right: -70px;
    top: calc(50% - 2px);
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
}

h3 {
    font-family: 'Roboto';
    font-weight: 400;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(50, 40, 197, 1) 0%,
        rgba(10, 95, 223, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
nav > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: nowrap;
    width: 100%;
}

nav > div > ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: -50px;
}

nav > div > ul > a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 300;
    margin-left: 40px;
    font-size: 1.1em;
    padding: 6px 12px;
    border-radius: 40px;
}
nav > div > ul > a:hover {
    background-color: #ffffff;
    color: #3228c5;
}

nav > div > img {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}

main > div > img {
    margin-top: 10px;
    width: 65%;
    margin-left: -50px;
}

main > div {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(50, 40, 197, 1) 0%,
        rgba(10, 95, 223, 1) 100%
    );
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom-right-radius: 100% 80%;
}
main > div > div > h1 {
    color: #b4e0ff;
    margin-top: 220px;
    font-size: 3em;
    letter-spacing: 2px;
    margin-left: 50px;
}

main > div > div > h3 {
    color: #ffffff;
    margin-top: -25px;
    font-size: 1.3em;
    margin-left: 50px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


/* ABOUT US */
@media (min-width: 700px) {
    .about-us div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-us .inverse img {
        order: 1;
    }

    .about-us img {
        min-width: 50%;
    }
}

@media (min-width: 1000px) {
    .about-us {
        padding: 100px;
    }
}

/* Review */
.reviews {
    display: flex;
    overflow-x: scroll;
    max-width: calc(100vw - 20px);
}

.reviews article {
    border: 1px solid #CCC;
    min-height: 350px;
    min-width: 300px;
    margin: 10px;
}

.reviews article > p {
    height: 250px;
    padding: 10px 30px;
    text-align: justify;
}

.reviews article .person {
    display: flex;
    align-items: center;
    height: 66px;
    border-top: 1px solid #CCC;
    padding: 0 10px;
}

.reviews article .person img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.reviews article .person p {
    margin: 5px 15px;
}

.reviews article .person span {
    color: #feca57;
}

/* FOOTER */
footer {
    background-color: #3228c5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 700px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}